:root {
  --backColor1: #98cb00;
  --backColor2: #cc6733;
  --backColor3: #3398cc;
}

* {
  font-family: Arial, Helvetica, sans-serif
}

/*                 Header  */
header {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  justify-content: space-between;
  top: 0px;
  left: 0px;
}

#navName {
  position: relative;
  z-index: -1;
  padding: 5px 30px;
  color: white;
  font-size: 14px;
}
 
header, footer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  z-index: 2;
}

#navName h1 {
  font-family: cursive;
  margin: 0px;  
}

/*               Footer */
footer{
  background-color: var(--backColor2);
  color: white;
  position: relative;
  top: 600px;
  text-align: center;
  justify-content: center;
}

.fa {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/*               Top Navigation */
nav ul li {
  display: inline;
}

#navAbou, #navPort, #navCont {
  text-decoration: none;
  padding: 5px 30px;
  color: white;
  transition: 0.5s;
}
#navAbou:hover, #navPort:hover, #navCont:hover {
  transition: 0.5s;
  padding: 15px 30px;
}

#navAbou {
  background-color: var(--backColor1); 
}

#navPort {
  background-color: var(--backColor2);
}
#navCont {
  background-color: var(--backColor3);
}

 /*               Background picture */
.topBackPic {
  position: fixed; 
  top: 0px; 
  left: 0px; 
  z-index: -2;
  height: 1000px;
  width: 100%;
  background-image: url("../images/workspace-1280538.jpg");
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 600px;
  width: 100%;
}

#timeBox {
  position: relative;
  top: -150px;
  left: 20%;
  width: 450px;
  height: 250px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#timeBox p {
  font-family: cursive;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  line-height: 2;
  text-align: center;
}

section {
  display: inline-flex;
  background-color: #f8f9fa;
}
 /*               Aside part */
aside h1 {
  padding: 0px 20px;
}

#asideAbou, #asidePort, #asideCont {
  flex: 20%;
  text-align: right; 
  margin: 15px; 
}

.linkTo {
  display: inline-flex;
  padding: 17px;
  margin-left: 20px;
  background-color: var(--backColor1);
  font-size: 16px;
  box-shadow: 0px 0px 8px white;
  border-radius: 5px;
}

.linkTo a {
  color: white;
  text-decoration: none;
}
.linkTo:hover {
  background-color: #a8db10
}

#asideAbou {
  border-right: 20px solid var(--backColor1);
  color: var(--backColor1);
}

#asidePort {
  border-right: 20px solid var(--backColor2);
  color: var(--backColor2)
}

#asideCont {
  border-right: 20px solid var(--backColor3);
  color: var(--backColor3)
}

#articleAbou, #articlePort, #articleCont {
  flex: 80%;
  scroll-margin-top: 70px;
  flex-wrap: wrap;
  margin: 15;
  padding: 15px;
  justify-content: flex-start;
}

#articleAbou p{
  margin: 10px 15px; 
  font-size: larger;
}

#articleAbou div {
  display: flex;
  margin: 10px 7px;
}

/*               Portfolio section */
#articlePort {
  display: inline-flex;  
  justify-content: flex-start;
}

/* #articlePort div {
 display: flexbox;
} */

#articlePort div a img {
  transition: 1s;
  border: 5px solid white;
  box-shadow: 0px 0px 30px black;
  width: 400px; 
  height: auto;
  margin: 15px;
}

#articlePort div a img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.titleName {
  position: relative;
  display: block;
  color: white;
  max-width: 50%;
  background-color: var(--backColor2);
  font-size: 16px;
  padding: 10px;
  bottom: 48px;
  right: -4px;
  text-align: center;
  box-shadow: 0px 0px 8px white;
  border-radius: 5px;
}

.titleName:hover {
  background-color: #dc7743;
}

/*              Contact section */
form {
  margin-left: 30px ;
}

#articleCont form p {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

#fullName, #email, #message {
  width: 300px;
}

#message {
height: 80px;
}

#buttonCont {
  width: 200px;
  height: 40px;
  margin-left: 10px;
  background-color: var(--backColor3);
  border: none;
  color: white;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 10px;
}
#buttonCont:hover {
  background-color: #43a8dc;
  cursor: pointer;
}

.contact{
margin: 10px 0px 0px 10px;
background-color: var(--backColor3);
}
.contact:hover{
  background-color: #43a8dc;
}

/*               Animations */
#navName {
  animation-duration: 4s;
  animation-name: moveup;
}

@keyframes moveup {
  from {
    left: 600px;
       }

  to {
    left: 0px;
  }
} 

/*               Large devices  992px */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  header {
    position: relative;
  }

  #navName h1 {
    font-size: 2rem;
  }

  #timeBox {
    top: -80px;
    left: 10%;
    width: 300px;
    height: 170px;
    padding: 5px;
  }

  #sectionCont {
    text-align: center;
  }
 
  header {
    display: block;
    text-align: center;
    margin-left: 0px;
  }

  nav ul {
   padding-left: 0px;
  }

  nav ul li {
    padding: 5px 0px;
  }
  
  section {
    flex-direction: column;
    }

  .topBackPic {
    height: 600px;
  }

  main, footer {
    top: 400px;
  }

  #asideAbou, #asidePort, #asideCont {
    text-align: center; 
  }
  
  #asideAbou {
    border-bottom: 20px solid var(--backColor1);
    border-right: none;
  }

  #asidePort {
    border-bottom: 20px solid var(--backColor2);
    border-right: none;
  }

  .titleName {
    display: block;
    left: 34px;
    top: -56px;
    max-width: 80%;
  }
  
  #asideCont {
    border-bottom: 20px solid var(--backColor3);
    border-right: none;
  }
  #articlePort {
    justify-content: space-evenly;
  }

  #articleAbou div {
    justify-content: space-evenly;
  }

   #navAbou, #navPort, #navCont {
    font-size: xx-large;
   }
   
   .fa {
    font-size: x-large;
  }
  #buttonCont {
    margin-left: 5px;
    height: 50px;
    width: 50%;
    font-size: xx-large;
  }
  #fullName, #email, #message {
    font-size: xx-large;
    width: 50%;
  }
  #articleCont form{
    margin: 0px;
  }
  #articleCont form p label{
    font-size: xx-large;
  }
  footer div p {
    font-size: xx-large;
  }
}


/* Small devices 768px */
 @media screen and (max-width: 768px) {  

  #navAbou, #navPort, #navCont {
  display: block;
 }

  #articleAbou div {
   flex-direction: column;
   text-align: center;
  }
  
  #timeBox {
    display: none;
  }
  .topBackPic {
    height: 0;
    background-image: none;
  }
  main, footer {
    top: 0px;
  }
  #buttonCont {
    width: 80%;
    min-height: 50px;
    height: auto;
  }
  #fullName, #email, #message {
    width: 80%;
  }
}

